#topnav{
  width: 100;
  background-color: black;
  position: relative;
 overflow: auto;
}
#topnav a{
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}
.topnav-right {
  float: right;
}
#topnav a:hover {
  background-color: #54099A;
}
.active{
  background-color: #0000FF;
}

/* styling search bar */ 
        .search input[type=text]{ 
            width:300px; 
            height:25px; 
           border-radius:25px; 
            border: none; 
        } 

        .search{ 
           float:right; 
      margin:7px; 
 } 

          

        .search button{ 
            background-color: black;
            color: white;
            float: right; 
            padding: 5px 10px; 
            margin-right: 16px; 
            font-size: 12px; 
            border: none; 
            cursor: pointer; 
  }  
body{
  font-family: 'Sofia';font-size: 22px;
  margin: 0px;
  background: black;
}

* {box-sizing: border-box;}
  

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: auto;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.para{
  color: white;
  font-family: 'Trirong', serif;
}
.null {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


 /* footer */
 #footer {
   background-color: black;
   position: fixed;
   padding: 10px 10px 0px 10px;
   bottom: 0;
   width: 100%;
   height: 40px;
   text-align: center;
   color: white;
 }
